* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
  width: 1600;
  height: 92px;
  background-color: #1a0b2e;
  padding: 16px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 219px;
  height: 32px;
  font-weight: 500;
}
.color-white {
  color: white;
}
.color-gradient {
  color: purple;
}
nav .menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  width: 219px;
  height: 32px;
}
nav .menu a {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav-btn {
  background-image: linear-gradient(90deg, #ff8a00, #e52e71);

  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.section-img {
  width: 100%;
}

.banner-center {
  positive: relative;
}
.circle {
  z-index: 1;
}
.microphone {
  left: 50px;
  top: -50px;
}

.about {
  width: 100%;
  height: 646px;
  background-color: #1a0b2e;
}
.about-center {
  width: 1200px;
  height: 222px;
  color: #ffffff;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 120px;
  gap: 80px;
  align-items: center;
  margin-left: 250px;
}
.about-heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  gap: 16px;
  opacity: 80%;
  letter-spacing: 0%;
}

.about-footer {
  width: 1200px;
  height: 94px;
  margin-left: 300px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-footer-heading {
  width: 240px;
  height: 58px;
  font-size: 38px;
  color: #00ff88;
  opacity: 100%;
}
.about-footer-para {
  line-height: 20px;
  opacity: 80%;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
