* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
  width: 1600;
  height: 92px;
  background-color: #1a0b2e;
  padding: 16px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 219px;
  height: 32px;
  font-weight: 500;
}
.color-white {
  color: white;
}
.color-gradient {
  color: purple;
}
nav .menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  width: 219px;
  height: 32px;
}
nav .menu a {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav-btn {
  background-image: linear-gradient(90deg, #ff8a00, #e52e71);

  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.section-img {
  width: 100%;
}

.banner-center {
  positive: relative;
}
.circle {
  z-index: 1;
}
.microphone {
  left: 50px;
  top: -50px;
}

.about {
  width: 100%;
  height: 646px;
  background-color: #1a0b2e;
}
.about-center {
  width: 1200px;
  height: 222px;
  color: #ffffff;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 120px;
  gap: 80px;
  align-items: center;
  margin-left: 250px;
}
.about-heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  gap: 16px;
  opacity: 80%;
  letter-spacing: 0%;
}

.about-footer {
  width: 1200px;
  height: 94px;
  margin-left: 300px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-footer-heading {
  width: 240px;
  height: 58px;
  font-size: 38px;
  color: #00ff88;
  opacity: 100%;
}
.about-footer-para {
  line-height: 20px;
  opacity: 80%;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.choose-section {
  width: 100%;
  height: 1121px;
  text-align: center;
  padding: 120px 250px;
  background-color: #230e3d;
  opacity: 100%;
}

.choose-section-heading {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
  line-height: auto;
  letter-spacing: 0%;
  text-align: center;
}
.choose-section-content {
  width: 1200px;
  height: 783px;
  gap: 30px;
  opacity: 100%;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
}

.first-layout {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #351165;
  padding-top: 100px;
  padding-left: 30px;
}
.second-layout {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #351165;
  padding-top: 35px;
  padding-left: 30px;
}
.third-layout {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #351165;
  padding-top: 35px;
  padding-left: 30px;
}
.fourth-layout {
  grid-column: span 2;
  grid-row: span 1;
  background-color: #351165;
  padding-top: 35px;
  padding-left: 30px;
}
.fifth-layout {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #351165;
  padding-top: 35px;
  padding-left: 30px;
}
.choose-section-content-heading {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: auto;
}

.choose-section-content-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 60%;
}

.episode-section {
  width: 100%;
  height: 1276px;
  background-color: 
  display: flex;
  padding: 60px 250px;
  background-color: #1A0B2E;
}

.episode-section-heading{
    font-weight: 700;
    font-size: 48px;
    color:#ffffff;
    text-align: center;
}
.episode-content{
    display: flex;
    flex-wrap: wrap;
}
.episode-section-sub-heading{
    font-weight: 700;
    font-size: 24px;
    color:#ffffff;
    margin-top: 20px;
}
.episode-section-para{
    font-weight: 400;
    font-size: 16px;
    color:#ffffff;
    margin-top: 12px;
    line-height: 24px;
}
.episode-section-last-para{
    font-weight: 400;
    font-size: 16px;
    color:#00ff88;
    margin-top: 40px;
    line-height: 24px;
}

.episode-card{
    width:380px;
    height: 440px;
    background-color: #250D44;
    justify-content: space-between;
    margin-right: 15px;
    margin-top: 30px;
    border-radius: 20px;
}

.host{
    width: 100%;
    background-color: #1A0B2E;
}
.host-heading{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 40px;
}
.host-container{
    display: flex;
    padding-left: 20px;
}
.host-container-element{
    margin-left:24px;
}
.host-container-heading{
    font-weight: 700;
    font-size: 32px;
    color:#ffffff;
    
}
.host-container-para{
    opacity: 60%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 16px;
}

.host-container-icon{
border-radius: 50%;
    border: 1px solid #533C72;
    padding: 10px;
     width: 40px;
    height: 40px;
}

